<% content_for :body do -%>
  background="/images/2.jpg" style="background-size:cover;"
<% end %>
<div class="row" style="height:37.9em;">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4" style="padding-top:4cm;">
  <%= image_tag("botonregistrate.png",:alt => "reg" ) %>
  <div style="padding-top:1cm;padding-left:1cm;">
  <a href='/users/auth/twitter'><%= image_tag('botontwitterregistrate.png', :alt => 'twitter') %></a>
  <%= "  .  . " %>
  <a href="/users/auth/facebook"><%= image_tag('botonfacebookregistrate.png', :alt => 'facebook') %></a>
  <%= "  .  . " %>
  <a href="/users/auth/googleplus"><%= image_tag('botongoogleregistrate.png', :alt => 'google') %></a>
  </div>
</div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
